@import "../../sass/variables";

.emails-input-area{
  background: #FFFFFF;
  border: 1px solid #C3C2CF;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  max-height: 96px;
  height: 96px;
  overflow: auto;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
}

.emails-input-area-mail-input{
  outline: none;
  border: none;
  color: #C3C2CF;
  margin: 4px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 24px;
}
.emails-input-list{
  display: flex;
  flex-wrap: wrap;
}
.emails-input-list-item{
  margin: 4px;
  background: rgba(102, 153, 255, 0.2);
  border-radius: 100px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #050038;
  cursor: pointer;
  &:hover{
    color: #D92929;
    background: #fff;
  }
  &:after{
    content: 'x';
    margin-left: 12px;
  }

  &--fail{
    background: none;
    border-bottom: 1px dashed #D92929;
    border-radius: 0;
    padding: 0;
    margin: 4px 12px;
  }
}
